################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EdgeGridAuth/obj
/EdgeGridAuth/bin/Debug/net8.0
/EdgeGridAuthTest/bin/Debug/net8.0
/OpenAPI/obj
/OpenAPI/bin/Debug/net8.0
/EdgeGridAuthTest/obj
/EdgeGridV2_Example/obj
